@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

* {
    margin:0%;
    padding:0%;
    box-sizing:border-box;
    font-family:poppins;
}

body {
    color:#45475b;
}

/* ----- Navbar ----- */
.navbar {
    width:100%;
    display:flex;
    align-items:center;
    justify-content:space-between;
    background-color:white;
    padding:10px;
    position:fixed;
    border-bottom:1px solid #e0e0e0;
    z-index:10;
}

.logo {
    height:40px;
    padding-left:10px;
    display:flex;
    align-items:center;
}

.logo img {
    height:100%;
    width:auto;
    object-fit:contain;
}

.logo:hover {
    cursor:pointer;
}

.navbar .nav-links {
    list-style:none;
    display:flex;
    gap:20px;
    color:#45475b;
    font-weight:500;
}

.navbar .nav-links li {
    cursor:pointer;
    color:#333;
}

.holdings-main {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 70px;
}


.holdings-summary {
  background-color: #ffffff;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  margin-bottom: 30px;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: 75%;
}
.holdings-summary h2{
  margin: 1rem;
}

.value,
.returns {
  margin: 1rem;
  display: flex;
  justify-content: space-between;
}

.left{
  text-align: left;
}
.right{
  text-align: end;
}


.holdings-table {
  width:50%;
  min-width:550px;
  background-color: #ffffff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  overflow: hidden;
  max-width: 632px;
}

.holdings-table th,
.holdings-table td {
  padding: 16px 20px;
  text-align: left;
  border-bottom: 1px solid #e9ecef;
  font-size: 15px;
}

.holdings-table th {
  background-color: #f1f3f5;
  font-weight: 600;
  color: #495057;
}

.holdings-table td {
  color: #343a40;
}

.holdings-table .gain {
  color: #28a745;
  font-weight: 500;
}

.holdings-table .loss {
  color: #dc3545;
  font-weight: 500;
}




